#ko-binder .ui-selected, .selected{
	background: darkorange;
	color:white;
}
#ko-binder .active{
	background: lightgreen;
	color:black;
}
#ko-binder .disabled{
	color: silver;
}
#ko-binder .custom{
	color: white;
	background:black;
}