#ko-balin .ui-selected, .selected{
	background: darkorange;
	color:white;
}
#ko-balin .active{
	background: lightgreen;
	color:black;
}
#ko-balin .disabled{
	color: silver;
}
#ko-balin .custom{
	color: white;
	background:black;
}